
body {
  margin:0px auto;
}
 
h1 {
 font-family:'Alegreya';
 font-size:200%;
 font-weight:bold;
 color:#010203;
}

h1::first-letter {
    font-size: 200%;
     color:#010203;
}

h2 {
 font-family:'Alegreya';
}

h3 {
font-family:'Alegreya';
}

h4 {
font-family:'Alegreya';
}

h5 {
font-family:'Alegreya';
}

h6 {
font-family:'Alegreya';
}

img {
border-radius:50%;
height:240px;
width:240px;
}

a:link  {
 color:#ff0000;
 text-decoration:none;
}

a:visited {
  color:#ff0000;
  text-decoration:none;
}

a:hover {
 color:#ff0000;
 text-decoration:underline;
}

a:active {
 color:#ff0000;
 text-decoration:underline;
}

a:focus {
  color:#ff0000;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
 display:inline;
}

p {
font-family:'Alegreya';
font-weight:normal;
font-size:24px;
color:#010203;
width:100%;
height:100%;

}


#content {

height:100%;
width:100%;
background-color:FFFFFF;
padding:71px;
font-family:'Alegreya';
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
background: #FFFFFF;
background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 33%, #FBEEE0 100%);

}

