

.twitter-share-button {
 margin: 10px 20px;
}

.container-responsive {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color:#000000;
  height:auto;
  font-family: 'Alegreya';
  font-size:25px;
  z-index:1000;
  position:fixed;
}

.navbar-default {
  background-color:#000000;
	font-family: 'Alegreya';
	font-size:21px;
	
	
	
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 8px;
}

.nav {
  list-style: none outside none;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 8px;
}

.nav > li > a {
  display: block;
  padding: 5px 5px;
  position: relative;
}

.navbar-nav > li {
  font-family:'Alegreya' ;
  font-size: 44px;
  text-transform:lowercase;
  letter-spacing:0px;
  font-weight:bold;
}

.navbar-default .navbar-nav > li > a {
  color:#F2AF13;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #F2AF13;
  text-decoration:underline;
   
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #F2AF13;
 text-decoration:underline;
}

.navbar-default .navbar-toggle {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid transparent;
  border-radius: 0 0 0 0;
  margin-right: 0px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#F72;
}

.navbar-toggle .icon-bar {
  border-radius: 0 0 0 0;
  display: block;
  height: 3px;
  width: 26px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.0) inset;
}



























































