
* {
	margin:0;
	padding:0;
}

html {
	height:100vh;
}

 body {
  margin:0px;
}
 
h1 {
 font-family:'Alegreya';
 font-size:200%;
 font-weight:bold;
 color:#010203;
}




h2 {
 font-family:'Alegreya';
 font-size:40px;
 font-weight:bold;
 color:#010203;
 text-align:center;

}

h3 {
font-family:'Alegreya';
}

h4 {
font-family:'Alegreya';
}

h5 {
font-family:'Alegreya';
}

h6 {
font-family:'Alegreya';
}

p {
font-family:'Alegreya';
font-size:21px; 
text-align:left;
letter-spacing:0px;
padding:20px;
width:100%;
 
}

img {
border-radius:50%;
height:auto;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   
}

a:link  {
 color:#010203;
 text-decoration:none;
 font-size:16px;
 font-family:'Alegreya';

}

a:visited {
  color:#010203;
  text-decoration:none;
  font-size:16px;
  font-family:'Alegreya';

}

a:hover {
 color:#010203;
 text-decoration:underline;
 font-size:16px;
 font-family:'Alegreya';

}

a:active {
 color:#010203;
 text-decoration:underline;
 font-size:16px;
 font-family:'Alegreya';

}

a:focus {
  color:#010203;
 font-size:16px;
 font-family:'Alegreya';

}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  float:center;
	
}

.container {
  margin-right: auto;
  margin-left: auto;
  width:100%;
  height:100%;
}


#wrapper {
  background-color:#FFFFFF;
  width:100%;
 

  }

.navigation {
	background-color:#FFFFFF; 
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	width:100%;
	height:60px;
	padding:20px;
	border-top:2px solid #e5e5e5;
	border-bottom:2px solid #e5e5e5;
	font-family: 'Alegreya';
	font-size:22px;
}

.menu li:hover{
  color:white;
  cursor:pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}


/*Container for menu button  */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

/*  Creating the menu button */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 6px;
  width: 32px;
  border-radius: 3px;
}

#menu-toggle {
  display: none;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}        
  
/*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
/*  transforms the hamburger icon into a cross  */
  transform: rotate(-45deg);
}

/* Making the navbar responsive by CSS Media Queries */
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #9f9a9a;
    height: 2.5em;
    padding: 0.5em;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: #E8E8E8;
    
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
 
  }
}



#header {
  background-color:#bfff00;
  width:100%;
  height:30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	
}

#slider {
  background-color:#FFFFFF;
  width:100%;
  height:100%;
  font-family:'Alegreya';
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  animation: rotate-bg-color 10s infinite;
  
}


  @keyframes rotate-bg-color {
  0% {
    background-color: #FFFFFF;
  }
  10% {
    background-color: #f5f5f5;
  }
  20% {
    background-color: #FFFFFF;
  }
  30% {
    background-color: #f5f5f5;
  }
  40% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #f5f5f5;
  }
  60% {
    background-color: #FFFFFF;
  }
  70% {
    background-color: #f5f5f5;
  }
  80% {
    background-color: #FFFFFF;
  }
  90% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #FFFFFF;
  }
}

#content {
  background-color:#ECEDDC;
  margin:0px auto;
  width:100%;
  height:100%;  
  font-family:'Alegreya';
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  
}

#footer {
  background-color:#f06;
  width:100%;
  height:30px;
  font-family:'Alegreya';
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}


/* media queries for small medium large devices */

/* Portrait tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:991px) {    
       .container {
		   width:800px; 
	   }
	   
/* Desktop and Laptops */ 
@media (min-width:992px) and (max-width:1200px) {
	 .container {
		 width:980px;
	 }
/* Large screens */
@media (min-width:1201px) and (max-width:2200px) {
	.container {
		width:1180px;
	}
}
	

		
